In [1]:
print("hello,world")
print("NIDA HAYATH")
print("power system system")

hello,world
NIDA HAYATH
power system system

In [3]:
#print("hello,world")
#print("NIDA HAYATH")
#print("power system system")

In [14]:
a=10
print(a)
b=3.14
name='nida'
print(name)
print(a,b,name + "all r sad")

10
nida
10 3.14 nidaall r sad

In [18]:

name=input("enter student name:")
a=int(input("enter a number:"))
print(a)
print(name)

enter student name:nida
enter a number:22
22
nida

In [21]:
a=int(input("enter first number:"))
b=int(input("enter second number:"))
c=a+b
print(c)

enter first number:1
enter second number:2
3

In [22]:
(input("enter first number:"))
b=int(input("enter second number:"))
c=a*b
print(c)a=int

enter first number:7
enter second number:6
42

In [26]:
radius=int(input("enter radius:"))
pi=3.14
area=pi*radius*radius
print("area of circle is :",area)

enter radius:30
area of circle is : 2826.0

In [31]:
a=int(input("enter first number:"))
b=int(input("enter second number:"))
print(a+b)
print(a*b)
print(a-b)
print(a/b)
print(a%b)
print(a**b)

enter first number:40
enter second number:32
72
1280
8
1.25
8
1844674407370955161600000000000000000000000000000000

In [32]:
celcius=float(input("enter temperature in celcius:"))
fahrenheit=(celcius*9/5)+32
print("temperature in fahrenheit:",fahrenheit)

enter temperature in celcius:32
temperature in fahrenheit: 89.6

In [33]:
principle=float(input("enter principle amount:"))
rate=float(input("enter rate:"))
time=float(input("enter time:"))
si=(principle*rate*time)/100
print("simple interest:",si)

enter principle amount:70
enter rate:50
enter time:2
simple interest: 70.0

In [37]:
 length=float(input("enter length:"))
 width=float(input("enter width:"))
 area=length*width
 print("area of rectangle:",area)

enter length:20
enter width:3
area of rectangle: 60.0

In [39]:
mintues=int(input("enter time in mintues:"))
hours=mintues//60
print("hours:",hours)

enter time in mintues:240
hours: 4